@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--back-backcolor);
  color: var(--textcolor);
  min-height: 100vh;
  width: 100vw;
}

:root{
  --back-backcolor: rgb(22, 27, 36);
  --back-backcolor-transparent: rgba(22, 27, 36, 0.5);
  --forecolor: rgb(255, 64, 76);
  --forecolor-selected: rgb(255, 135, 143);
  --textcolor: rgb(255, 240, 241);
  --backcolor: rgb(46, 57, 77);
  --backcolor-selected: rgb(100, 113, 136);
  min-height: 100%;
  width: 100%;
}

#root {
  position: fixed;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2.5em;
}